services:
	-
		class: Lctrs\MinkPantherDriver\PHPStan\Type\CreatePantherClientTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.staticMethodTypeSpecifyingExtension

	-
		class: Lctrs\MinkPantherDriver\PHPStan\Type\IsStartedTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.methodTypeSpecifyingExtension

	-
		class: Lctrs\MinkPantherDriver\PHPStan\Type\StartTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.methodTypeSpecifyingExtension

includes:
	- phpstan-baseline.neon

parameters:
	level: max
	paths:
		- phpstan/
		- src/
		- test/
		- update-license.php
	tmpDir: .build/phpstan/
