parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method arrayNode\\(\\) on Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeParentInterface\\|null\\.$#"
			count: 1
			path: src/Extension/PantherFactory.php

		-
			message: "#^Method Lctrs\\\\MinkPantherDriver\\\\PantherDriver\\:\\:getValue\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/PantherDriver.php

		-
			message: "#^Method Lctrs\\\\MinkPantherDriver\\\\PantherDriver\\:\\:setValue\\(\\) has parameter \\$value with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/PantherDriver.php

		-
			message: "#^Cannot call method getKeyboard\\(\\) on Symfony\\\\Component\\\\Panther\\\\Client\\|null\\.$#"
			count: 3
			path: src/PantherDriver.php

		-
			message: "#^Strict comparison using \\=\\=\\= between Symfony\\\\Component\\\\Panther\\\\DomCrawler\\\\Crawler and null will always evaluate to false\\.$#"
			count: 1
			path: src/PantherDriver.php

		-
			message: "#^Method Lctrs\\\\MinkPantherDriver\\\\Test\\\\Integration\\\\Custom\\\\EventsTest\\:\\:testKeyboardEvents\\(\\) has parameter \\$eventProperties with no typehint specified\\.$#"
			count: 1
			path: test/Integration/Custom/EventsTest.php

		-
			message: "#^Method Lctrs\\\\MinkPantherDriver\\\\Test\\\\Integration\\\\Custom\\\\EventsTest\\:\\:testKeyboardEvents\\(\\) has parameter \\$modifier with no typehint specified\\.$#"
			count: 1
			path: test/Integration/Custom/EventsTest.php

